#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

/* Formulário de Cores */

#colorDiv {
  margin-bottom: 60px;
}

label {
  display: block;
}

.colorsContainer {
  display: flex;
  gap: 15px;

  margin-top: 15px;
}

input#name {
  margin-bottom: 15px;
}

/* Formulário de Carros */

#carDiv {
  display: flex;
}

[data-js="carForm"] {
  margin-right: 15px;
}
